#story-top-padding {
    padding-top: 18em;
    padding-bottom: 10em;
}

.gradient-bg-color {
    background: rgb(242, 239, 212);
    background: linear-gradient(0deg, rgba(242, 239, 212, 1) 0%, rgba(219, 245, 250, 1) 25%, rgba(247, 219, 207, 1) 50%, rgba(240, 230, 188, 1) 75%, rgba(236, 255, 219, 1) 100%);
}

.story-padding {
    padding-top: 3em;
    padding-bottom: 3em;
}

.img-padding {
    padding-top: 4em;
    padding-bottom: 4em;
}

.paragraph-padding {
    padding-bottom: 5em;
}

hr.hr-text {
    position: relative;
    border: none;
    height: 1px;
    background: #999;
}

#storyNav {
    min-height: 3.5rem;
    background-color: #fff;
}

#storyNav .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: #64a19d;
    border: 1px solid #64a19d;
}

#storyNav .navbar-toggler:focus {
    outline: none;
}

#storyNav .navbar-brand {
    color: #000000;
    font-weight: 700;
    padding: 0.9rem 0;
}

#storyNav .navbar-nav .nav-item:hover {
    color: fade(#fff, 80%);
    outline: none;
    background-color: transparent;
}

#storyNav .navbar-nav .nav-item:active,
#storyNav .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent;
}

@media (min-width: 992px) {
    #storyNav {
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: none;
        background-color: transparent;
        transition: background-color 0.3s ease-in-out;
    }

    #storyNav .navbar-brand {
        padding: 0.5rem 0;
        color: rgba(63, 63, 63, 0.5);
    }

    #storyNav .nav-link {
        transition: none;
        padding: 2rem 1.5rem;
        color: rgba(63, 63, 63, 0.5);
    }

    #storyNav .nav-link:hover {
        color: rgba(63, 63, 63, 0.75);
    }

    #storyNav .nav-link:active {
        color: #fff;
    }

    #storyNav.navbar-shrink {
        background-color: #fff;
    }

    #storyNav.navbar-shrink .navbar-brand {
        color: #000000;
    }

    #storyNav.navbar-shrink .nav-link {
        color: #000000;
        padding: 1.5rem 1.5rem 1.25rem;
        border-bottom: 0.25rem solid transparent;
    }

    #storyNav.navbar-shrink .nav-link:hover {
        color: #64a19d;
    }

    #storyNav.navbar-shrink .nav-link:active {
        color: #467370;
    }

    #storyNav.navbar-shrink .nav-link.active {
        color: #64a19d;
        outline: none;
        border-bottom: 0.25rem solid #64a19d;
    }
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: orpheuspro, serif;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}